* {
    text-align: center;
    font-weight: normal;
    padding: 0;
    margin: 0;
    font-weight: normal;
    text-decoration: none;
}

body {
    margin-top: 50px;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
}

span {
    color:inherit;
    font-weight:inherit;
    font-family:inherit;
}

#content {
    max-width:850px;
    min-width:850px;
    margin: auto;
    padding-top: 25px;
    text-align: center;
}

  /********************/
 /* main menu/general styles */
/********************/

.main-title {
    font-size: 50px;
    margin-bottom: 0px;
}

.mode-title {
    margin-bottom: 0;
}


.logo {
    display: block;
    border: solid 1px black;
    height: 300px;
    margin:auto;
}

.main-nav {
    margin-top: 50px;
}

.header {
    text-align:center;
    font-family: 'Cabin Sketch', cursive;
}

.btn {
    padding: 10px;
    background-color: black;
    color: white;
    font-family: 'Walter Turncoat', cursive;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition:.15s;
}

  /***************************/
 /* general gameplay styles */
/***************************/

.instructions {
    margin-top: 0;
}

.attempts-remaining {
    margin-top:20px;
    font-family: 'Reenie Beanie', cursive;
}

#game-timer {
    margin-top:10px;
    font-family: monospace;
    font-size: 20px;
}

#min, #sec, #mil {
    font-family: inherit;
    font-size: inherit;
}

#person-card-cont {
    margin-top: 25px;
    text-align: center;
    margin: none;
    position: relative;
}

.card {
    height: 150px;
    width: 150px;
    position: relative;
    cursor: pointer;
}

.image {
    height: inherit;
    /*border: solid 1px black;*/
    box-sizing: border-box;
}

.overlay {
    height: inherit;
    width: inherit;
    border: none;
    opacity:0;
    background-color: none;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition: 0.35s;
}

.overlay-red {
    background-color: tomato;
    opacity:0.35;
}

.overlay-green {
    background-color: forestgreen;
    opacity:0.35;
}

.overlay_done {
    background-color:white;
    opacity:.45;
}

.gamestate {
    position: absolute;
    top: -26px;
    left: 0px;
    text-align:center;
    width: 100%;
    font-size: 180px;
}

.points-display {
    font-size:75px;
    font-family: 'Reenie Beanie', cursive;
    color:forestgreen;
}

.target-name, .attempts-remaining-actual {
    font-family: 'Reenie Beanie', cursive;
    font-size: 35px;
    color: dodgerblue;
    vertical-align: middle;
}

.game-nav {
    text-align: center;
    margin-top: 50px;
    position:relative;
}

.restart {
    cursor: pointer;
    transition: .5s;
}

  /*********************/
 /* match mode styles */
/*********************/

.match-card {
    display: inline-block;
    min-height: 37px;
    box-sizing: border-box;
    width: 150px;
    padding: 10px;
    background-color: lightgrey;
    border: solid 1px grey;
    border-radius: 7.5px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    cursor: -webkit-grab;
    font-family: 'Reenie Beanie', cursive;
    font-size: 20px;
    background-color: white;
    transition:.15s;
}

#match-card-cont {
    text-align:center;
    position:relative;
    min-height: 40px;
    max-height: 41px;
}

.selected {
    transform: rotate(5deg);
    cursor: pointer;
    cursor: -webkit-grabbing;
}

.filler {
    border: none;
    opacity: .5;
    cursor: default;
    min-width: 150px;
}

.click-shield {
    width: 100%;
    height: 50px;
    position: absolute;
    top: -10px;
    opacity: 0;
    display:none;
}

  /***********************************/
 /* high score entry/display styles */
/***********************************/

.score-submit {
    background-color:forestgreen;
}

.initials {
    padding: 3px;
    width: 100px;
    font-family: monospace;
    font-size: 31px;
    border-radius: 10px;
    transition: .15s;
    border: solid black 1px;
    vertical-align: sub;
    text-transform: uppercase;
    margin-right: 5px;
}

.initials:focus {
    outline:none
}

.no-initials-alert {
    color:tomato;
    width:100%;
    font-size:25;
    text-align: center;
    font-family: 'Reenie Beanie', cursive;
    margin-top:10px;
}

.game-mode {
    font-family: 'Reenie Beanie', cursive;
    font-size: 25px;
}

.latest {
    color:dodgerblue;
    font-weight:bold;
}

.highscore-cont {
    display: inline-block;
    box-sizing: border-box;
    border-radius:10px;
}

.highscore-cont + .highscore-cont {
    margin-left: 35px;
}

.highscore-listing {
    display: block;
    margin-top: 20px;
    font-family: monospace;
}

.post-highscore-btn-cont {
    margin-top: 50px;
}

  /***********************/
 /* animation providers */
/***********************/

.shake {
  -webkit-animation-name: shake;
  animation-name: shake;
  animation-duration: .35s;
}

.hilight {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.flipInX {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-duration: flipInX;
  animation-name: flipInX;
  animation-duration: 1s;
}
